<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns="http://java.sun.com/xml/ns/javaee" xmlns:web="http://java.sun.com/xml/ns/javaee/web-app_2_5.xsd" xsi:schemaLocation="http://java.sun.com/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_2_5.xsd" id="WebApp_ID" version="2.5">
  <display-name>EChargeWEb</display-name>
  <servlet>
    <servlet-name>Login</servlet-name>
    <servlet-class>com.TJPU.ECharge.servlets.Login</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>Login</servlet-name>
    <url-pattern>/Login</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>Register</servlet-name>
    <servlet-class>com.TJPU.ECharge.servlets.RegisterServlet</servlet-class>
  </servlet>
  <servlet>
    <servlet-name>LoginServlet</servlet-name>
    <servlet-class>com.TJPU.ECharge.android.servlets.LoginServlet</servlet-class>
  </servlet>
  <servlet>
    <servlet-name>RegisterServlet</servlet-name>
    <servlet-class>com.TJPU.ECharge.android.servlets.RegisterServlet</servlet-class>
  </servlet>
  <servlet>
    <servlet-name>ShowAllUser</servlet-name>
    <servlet-class>com.TJPU.ECharge.servlets.ShowAllUser</servlet-class>
  </servlet>
  <servlet>
    <servlet-name>OperatorLogin</servlet-name>
    <servlet-class>com.TJPU.ECharge.servlets.OperatorLogin</servlet-class>
  </servlet>
  <servlet>
    <servlet-name>UserInfo</servlet-name>
    <servlet-class>com.TJPU.ECharge.servlets.UserInfo</servlet-class>
  </servlet>
  <servlet>
    <servlet-name>UpdateUserInfo</servlet-name>
    <servlet-class>com.TJPU.ECharge.servlets.UpdateUserInfo</servlet-class>
  </servlet>
  <servlet>
    <servlet-name>UpdateUser</servlet-name>
    <servlet-class>com.TJPU.ECharge.servlets.UpdateUser</servlet-class>
  </servlet>
  <servlet>
    <servlet-name>UpdatePassword</servlet-name>
    <servlet-class>com.TJPU.ECharge.servlets.UpdatePassword</servlet-class>
  </servlet>
  <servlet>
    <servlet-name>UserBookingList</servlet-name>
    <servlet-class>com.TJPU.ECharge.servlets.UserBookingList</servlet-class>
  </servlet>
  <servlet>
    <servlet-name>AddOperator</servlet-name>
    <servlet-class>com.TJPU.ECharge.servlets.AddOperator</servlet-class>
  </servlet>
  <servlet>
    <servlet-name>AdminLogin</servlet-name>
    <servlet-class>com.TJPU.ECharge.servlets.AdminLogin</servlet-class>
  </servlet>
  <servlet>
    <servlet-name>ShowAllOperator</servlet-name>
    <servlet-class>com.TJPU.ECharge.servlets.ShowAllOperator</servlet-class>
  </servlet>
  <servlet>
    <servlet-name>UpdateOperatorInfo</servlet-name>
    <servlet-class>com.TJPU.ECharge.servlets.UpdateOperatorInfo</servlet-class>
  </servlet>
  <servlet>
    <servlet-name>UpdateOperator</servlet-name>
    <servlet-class>com.TJPU.ECharge.servlets.UpdateOperator</servlet-class>
  </servlet>
  <servlet>
    <servlet-name>DeleteOperator</servlet-name>
    <servlet-class>com.TJPU.ECharge.servlets.DeleteOperator</servlet-class>
  </servlet>
  <servlet>
    <servlet-name>AddChgPile</servlet-name>
    <servlet-class>com.TJPU.ECharge.servlets.AddChgPile</servlet-class>
  </servlet>
  <servlet>
    <servlet-name>AddChgPileInfo</servlet-name>
    <servlet-class>com.TJPU.ECharge.servlets.AddChgPileInfo</servlet-class>
  </servlet>
  <servlet>
    <servlet-name>ShowAllChgPile</servlet-name>
    <servlet-class>com.TJPU.ECharge.servlets.ShowAllChgPile</servlet-class>
  </servlet>
  <servlet>
    <servlet-name>UpdateChgPileInfo</servlet-name>
    <servlet-class>com.TJPU.ECharge.servlets.UpdateChgPileInfo</servlet-class>
  </servlet>
  <servlet>
    <servlet-name>UpdateChgPile</servlet-name>
    <servlet-class>com.TJPU.ECharge.servlets.UpdateChgPile</servlet-class>
  </servlet>
  <servlet>
    <servlet-name>DeleteChgPile</servlet-name>
    <servlet-class>com.TJPU.ECharge.servlets.DeleteChgPile</servlet-class>
  </servlet>
  <servlet>
    <servlet-name>AddStation</servlet-name>
    <servlet-class>com.TJPU.ECharge.servlets.AddStation</servlet-class>
  </servlet>
  <servlet>
    <servlet-name>ShowAllStation</servlet-name>
    <servlet-class>com.TJPU.ECharge.servlets.ShowAllStation</servlet-class>
  </servlet>
  <servlet>
    <servlet-name>UpdateStationInfo</servlet-name>
    <servlet-class>com.TJPU.ECharge.servlets.UpdateStationInfo</servlet-class>
  </servlet>
  <servlet>
    <servlet-name>UpdateStation</servlet-name>
    <servlet-class>com.TJPU.ECharge.servlets.UpdateStation</servlet-class>
  </servlet>
  <servlet>
    <servlet-name>DeleteStation</servlet-name>
    <servlet-class>com.TJPU.ECharge.servlets.DeleteStation</servlet-class>
  </servlet>
  <servlet>
    <servlet-name>GetTstationIfonServlet</servlet-name>
    <servlet-class>com.TJPU.ECharge.android.servlets.GetTstationIfonServlet</servlet-class>
  </servlet>
  <servlet>
    <description>GetTstationList ByPage</description>
    <display-name>GetTstationByPageServlet</display-name>
    <servlet-name>GetTstationByPageServlet</servlet-name>
    <servlet-class>com.TJPU.ECharge.android.servlets.GetTstationByPageServlet</servlet-class>
  </servlet>
  <servlet>
    <description>GetSessionId</description>
    <display-name>GetSessionId</display-name>
    <servlet-name>GetSession</servlet-name>
    <servlet-class>com.TJPU.ECharge.android.servlets.GetSession</servlet-class>
  </servlet>
  <servlet>
    <description>logout</description>
    <display-name>bye</display-name>
    <servlet-name>logoutServlet</servlet-name>
    <servlet-class>com.TJPU.ECharge.android.servlets.logoutServlet</servlet-class>
  </servlet>

  <servlet-mapping>
    <servlet-name>Register</servlet-name>
    <url-pattern>/Register</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>ShowAllUser</servlet-name>
    <url-pattern>/ShowAllUser</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>OperatorLogin</servlet-name>
    <url-pattern>/OperatorLogin</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>UserInfo</servlet-name>
    <url-pattern>/user/UserInfo</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>UpdateUserInfo</servlet-name>
    <url-pattern>/user/UpdateUserInfo</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>UpdateUser</servlet-name>
    <url-pattern>/user/UpdateUser</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>UpdatePassword</servlet-name>
    <url-pattern>/user/UpdatePassword</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>UserBookingList</servlet-name>
    <url-pattern>/user/UserBookingList</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>AddOperator</servlet-name>
    <url-pattern>/admin/AddOperator</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>AdminLogin</servlet-name>
    <url-pattern>/AdminLogin</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>ShowAllOperator</servlet-name>
    <url-pattern>/admin/ShowAllOperator</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>UpdateOperatorInfo</servlet-name>
    <url-pattern>/admin/UpdateOperatorInfo</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>UpdateOperator</servlet-name>
    <url-pattern>/admin/UpdateOperator</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>DeleteOperator</servlet-name>
    <url-pattern>/admin/DeleteOperator</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>AddChgPile</servlet-name>
    <url-pattern>/operator/AddChgPile</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>AddChgPileInfo</servlet-name>
    <url-pattern>/operator/AddChgPileInfo</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>ShowAllChgPile</servlet-name>
    <url-pattern>/operator/ShowAllChgPile</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>UpdateChgPileInfo</servlet-name>
    <url-pattern>/operator/UpdateChgPileInfo</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>UpdateChgPile</servlet-name>
    <url-pattern>/operator/UpdateChgPile</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>DeleteChgPile</servlet-name>
    <url-pattern>/operator/DeleteChgPile</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>AddStation</servlet-name>
    <url-pattern>/operator/AddStation</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>ShowAllStation</servlet-name>
    <url-pattern>/operator/ShowAllStation</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>UpdateStationInfo</servlet-name>
    <url-pattern>/operator/UpdateStationInfo</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>UpdateStation</servlet-name>
    <url-pattern>/operator/UpdateStation</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>DeleteStation</servlet-name>
    <url-pattern>/operator/DeleteStation</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>GetTstationIfonServlet</servlet-name>
    <url-pattern>/GetTstationIfonServlet</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>GetTstationByPageServlet</servlet-name>
    <url-pattern>/mc/GetTstationByPage.htm</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>GetSession</servlet-name>
    <url-pattern>/mc/gets.htm</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>LoginServlet</servlet-name>
    <url-pattern>/LoginServlet</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>RegisterServlet</servlet-name>
    <url-pattern>/RegisterServlet</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>logoutServlet</servlet-name>
    <url-pattern>/mc/bye.htm</url-pattern>
  </servlet-mapping>
  <filter>
    <display-name>EncodingFilter</display-name>
    <filter-name>EncodingFilter</filter-name>
    <filter-class>com.TJPU.ECharge.filters.EncodingFilter</filter-class>
  </filter>
  <filter-mapping>
    <filter-name>EncodingFilter</filter-name>
    <url-pattern>/*</url-pattern>
  </filter-mapping>
  <listener>
    <listener-class>com.TJPU.ECharge.listener.LoggedUserCounter</listener-class>
  </listener>
  <welcome-file-list>
    <welcome-file>index.html</welcome-file>
    <welcome-file>index.htm</welcome-file>
    <welcome-file>index.jsp</welcome-file>
    <welcome-file>default.html</welcome-file>
    <welcome-file>default.htm</welcome-file>
    <welcome-file>default.jsp</welcome-file>
  </welcome-file-list>
</web-app>